{% extends 'index.html' %}

{% block saludoInicioDeSesion %}
{% if request.user.is_authenticated %}   

<a class="navbar-brand">Hola, {{request.user}}</a> 

{% endif %}
{% endblock saludoInicioDeSesion %}


{% block editNavBar %}


{% if not request.user.is_authenticated  %}

<li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Blog</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'AboutUs' %}">Acerca de nosotros</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'Login' %}">Ingresar</a></li>
    
{% endif %}
    

{% if request.user.is_authenticated %}

<li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Blog</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'AboutUs' %}">Acerca de nosotros</a></li>
<li class='nav-item'><a class="nav-link" href="{% url 'EditarPerfil' %}">Editar Perfil</a></li>
<li class='nav-item'><a class="nav-link" href="{% url 'Logout' %}">Cerrar Sesión</a></li>

{% endif %}
                             
{% endblock editNavBar %}


{% block logInLogOut %}
	<style>
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #f3f6f7 !important;
		}
		.user_card {
			width: 550px;
			margin-top: auto;
			margin-bottom: auto;
			background: #9bc5a6;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		#messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}
	</style>

</head>
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">


					<h3 id="form-title">Acerca de nosotros</h3>
                 
				</div>
				<div class="d-flex justify-content-center form_container">
                    <p>Valentín Gustavo Garcia, Daniel Borghese y David Ocampo</p>

				</div>
		
			</div>
		</div>
	</div>
</body>

{% endblock logInLogOut %}