{% extends 'postApp/index.html' %}


    {% block blockPosts %}

    
    {% for o in object_list  %}

    <div class="row">
        <div class="col-lg-6">
            <!-- Blog post-->
            <div class="card" style="max-width: 350px;">
                <a href="#"><img class="card-img-top" src="{{ o.imagen.url }}" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">{{ o.fecha_publicacion }}</div>
                    <h2 class="card-title h4">{{ o.titulo }}</h2>
                    <p class="card-text">{{ p.contenido|truncatechars:15 }}</p>
                    <a class="btn btn-primary" href="#!">Read more →</a>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

    {% endblock blockPosts %}
