{% extends 'index.html' %}

{% block editNavBar %}
                        
{% if not request.user.is_authenticated  %}

<li class="nav-item"><a class="nav-link" href="{% url 'AboutUs' %}">Acerca de nosotros</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'Login' %}">Ingresar</a></li>
    
{% endif %}
    

{% if request.user.is_authenticated %}

<li class="nav-item"><a class="nav-link" href="{% url 'AboutUs' %}">Acerca de nosotros</a></li>
<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Hola, {{request.user}}
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'postLista' %}">Administrar Posts</a></li>
          <li><a class="dropdown-item" href="{% url 'PostsConMeGustaPropios' %}">Mi actividad | Me Gusta</a></li>
          <li><a class="dropdown-item" href="{% url 'EditarPerfil' %}">Editar Perfil</a></li>
          <li><a class="dropdown-item" href="{% url 'Logout' %}">Cerrar Sesión</a></li>
        </ul>
      </li>
    </ul>
  </div>

{% endif %}


{% endblock editNavBar %}
  <br><br>
{% if user.is_authenticated %}
  <div class="container">
    {% block blockPosts %}
        
        <h2>
            Mis Posts:
            <hr>
        </h2>
        <h4>||<a class="btn btn-primary" href="{% url 'crearPost' %}" role="button">Pubiica algo nuevo</a>||</h4>
        <div class="table-responsive">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Título del post</th>
                <th>Autor</th>
                <th>Categoría</th>
                <th>Fecha de publicacion</th>
                <th>Comunidad</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for post in object_list  %}
                <tr>
                  <td>{{ post.titulo }}</td>
                  <td>{{ post.autor }}</td>
                  <td>{{ post.categoria }}</td>
                  <td>{{ post.fecha_publicacion }}</td>
                  <td><span><i class="fa-regular fa-thumbs-up"></i> {{ post.likes.count }}</span> <span><i class="fa-regular fa-comments"></i>{{ post.get_comentarios_count }}</span></td>
                  <td><a class="btn btn-info" href="{% url 'verPost' post.id %}" role="button">Ver</a> <a class="btn btn-secondary" href="{% url 'editarPost' post.id %}" role="button">Editar</a> <a class="btn btn-danger" href="{% url 'borrarPost' post.id %}" role="button">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        
    {% endblock blockPosts %}
  </div>
{% else %}
  
  <div class="alert alert-warning" role="alert">
    Inicia sesión para poder postear algo!. <a href="{% url 'Login' %}" class="alert-link">Iniciar Sesión</a>. Ahí encontraras el boton para poder registrarte tambien.
  </div>

{% endif %} 
