{% extends 'index.html' %}


    {% block blockPosts %}
        
        <h2>
            Mis Posts:
        </h2>
            {% for post in object_list  %}
                <li>
                    <h3>
                        <a href="{% url 'verPost' post.id %}">{{post.titulo}}</a>
                        <br>
                        <p>
                            |<a href="{% url 'editarPost' post.id %}">>Edita este post</a>|
                            |<a href="{% url 'borrarPost' post.id %}">>Elimina este post</a>|
                        </p>
                    </h3>
                </li>
            {% endfor %}
        <h4>
            ||<a href="{% url 'crearPost' %}">>Publicar un articulo AQUI</a>||
        </h4>
    {% endblock blockPosts %}
