{% extends 'index.html' %}

    {% block blockPosts %}
        {% if user.is_authenticated %}
                <div class="container">
                    <h1>
                        ¿Seguro quieres eliminar este post?
                    </h1>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Si, quiero eliminarlo</button>

                    </form>
                </div>
                {% else %}

                <div class="alert alert-warning" role="alert">
                    Debes iniciar sesion para realizar cambios. <a href="{% url 'Login' %}" class="alert-link">Iniciar Sesión</a>. Ahí encontraras el boton para poder registrarte tambien.
                </div>
        {% endif %}

    {% endblock blockPosts %}

