<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tercer Tiempo | Blog de Fútbol</title>
        <!-- Favicon-->
        <link rel="icon" type="image/png" href="https://w7.pngwing.com/pngs/640/758/png-transparent-football-graphy-ball-game-material-game-white-sport.png" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->

        <style>
            .saludos{
                font-size: 18px;
                color: #fff;
                margin-left: 20px;
            }
        </style>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
                <input class="form-control" style="width : 400px; height: 35px" type="text" placeholder="¿Qué buscás?..." aria-label="¿Qué buscás?..." aria-describedby="button-search" />
                <button class="btn btn-primary" id="button-search" style="width: 70px;height: 35px" type="submit">Buscar</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        
                        {% block editNavBar %}
                            
                        {% endblock editNavBar %}
                            
                    </ul>
                </div>

                
                {% block loggedIn %}
                    
                {% endblock loggedIn %}
                    

            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">

            
            {% block bienvenido %}
                
            {% endblock bienvenido %}
                


                </div>
            </div>
            
            {% block logInLogOut %}
    
            {% endblock logInLogOut %}
                
        </header>
        <!-- Background image -->
        <div
            class="bg-image"
            style="
                background-image: url('https://www.axis.com/sites/axis/files/styles/landscape_1920_x_768_jpg/public/2020-09/soccer_stadium_spectators_silhouette_2009_3840x1536_0.jpg?h=71e592e0&itok=LI607JsK');
                height: 70vh;
            "
        ></div>
        <!-- Background image -->
        <!-- Page content-->
        {% block blockPosts %}

        {% endblock blockPosts %}
            <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                    <li class="page-item"><a class="page-link" href="#!">15</a></li>
                    <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                </ul>
            </nav>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categorias</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Primera División</a></li>
                                <li><a href="#!">Primera Nacional</a></li>
                                <li><a href="#!">Selección Nacional</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Fútbol Internacional</a></li>
                                <li><a href="#!">Rumbo Qatar 2022</a></li>
                                <li><a href="#!">La columna del Loco Gatti</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
